.hello
    color yellow
    font-size 50px
.cat-images
    background url('./assets/cat_king.jpg')
    width 100%
    height 100vh
    background-size contain
    background-repeat no-repeat
